
/* stack all grids below 40em (640px) */
@media all and (max-width: 35em) {
	.responsive-slider .ui-block-a,
	.responsive-slider .ui-block-b,
	.responsive-slider .ui-block-c,
	.responsive-slider .ui-block-d,
	.responsive-slider .ui-block-e {
		width: 100%;
		float: none;
	}
}

.control-page .control-group:first-child {
	border-width: 0;
	margin-top: 0;
	padding-top: 0;
}

.control-group {
	margin-top: 4px;
	padding-top: 4px;
	border-top: 1px solid #e2e2e2;
}
