@model ThinkingHome.NooLite.Web.Models.ControlModel
<label for="level-@Model.Id">@Model.DisplayText</label>
<div class="ui-grid-a responsive-slider">
	<div class="ui-block-a">
		<input name="level-@Model.Id" id="level-@Model.Id" data-highlight="true" min="0" max="100" step="5" value="@Model.Level" type="range">
	</div>
	<!-- /ui-block -->
	<div class="ui-block-b">
		<input id="btn-set-@Model.Id" value="Set" type="button" />
	</div>
	<!-- /ui-block -->
</div>
<!-- /ui-grid -->
