<?xml version="1.0" encoding="utf-8" ?>
<nooLiteConfiguration>
	<page id="d934db7982404e68a980293419d4badb" title="Спальня" description="Общий свет и настенные светильники в спальне">
		<control id="main" displayText="Общий свет" type="Switcher">
			<channel id="1" />
		</control>
		<control id="night-light" displayText="Ночник" type="Slider">
			<channel id="1" level="0" />
			<channel id="2" />
		</control>
		<control id="all-off" displayText="Выключить все" level="0">
			<channel id="1" />
			<channel id="2" />
		</control>
	</page>
	<page id="a970167210654a3480ef699f0a673db6" title="Коридор" description="Освещение в коридоре" />
	<page id="977679b9c2ca4e4fa4736ecf736e2b41" title="Кухня" description="Общий свет в кухне и светильник над раковиной" />
</nooLiteConfiguration>
