<?xml version="1.0" encoding="utf-8" ?>
<nooLiteConfiguration title="Комнаты" debug="false">
	<page id="bedroom" title="Спальня" description="Общий свет и настенные светильники в спальне">
		<control id="main" displayText="Общий свет" type="Switcher" level="155">
			<channel id="0" />
		</control>
		<control id="night-light" displayText="Ночник" type="Slider">
			<channel id="6" />
			<channel id="7" />
			<channel id="0" level="0" />
		</control>
		<control id="all-off" displayText="Выключить все" level="0">
			<channel id="0" />
			<channel id="6" />
			<channel id="7" />
		</control>
	</page>
	<page id="hallway" title="Коридор" >
		<control id="main" displayText="Возле выхода" type="Switcher">
			<channel id="2" />
		</control>
		<control id="small" displayText="Возле кухни" type="Switcher">
			<channel id="3" />
		</control>
		<control id="all-off" displayText="Весь коридор" type="Switcher">
			<channel id="2" />
			<channel id="3" />
		</control>
	</page>
	<page id="kitchen" title="Кухня" description="Общий свет в кухне и светильник над раковиной" />
</nooLiteConfiguration>
