<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="Component14E08C0F1E544B43B20852BBDBF48573" Guid="14e08c0f-1e54-4b43-b208-52bbdbf48573" DiskId="1" Directory="FOLDER_F44E158395D34EBCA8A9EBB4BE1C899D">
        <File Id="FILE_50D200A7D7ED401F920E2D810EAB5893" Source="..\dist\Global.asax" />
        <File Id="FILE_F497EF56C9D845A0AA2544657C11CE84" Source="..\dist\NooLite.config" />
        <File Id="FILE_0795A23DF7F7412CB58F413F18E19E44" Source="..\dist\Web.config" />
      </Component>
      <Component Id="ComponentD8A1266AD8DF4F5DAE9EFBB2FE30B7D6" Guid="d8a1266a-d8df-4f5d-ae9e-fbb2fe30b7d6" DiskId="1" Directory="FOLDER_BBAE57CF36C94BFEAC84F7AD81982669">
        <File Id="FILE_BCA05C9355D241DBB98FC348F4BE9644" Source="..\dist\bin\HidLibrary.dll" />
        <File Id="FILE_6FF68BDA92824D43B5B9349C2EA76ED3" Source="..\dist\bin\Microsoft.Web.Infrastructure.dll" />
        <File Id="FILE_9D7E78FEEA1C4B5FB933E1CDB249404F" Source="..\dist\bin\System.Web.Helpers.dll" />
        <File Id="FILE_1A8C0E7423CD4CD580F8D55F9C4F5F27" Source="..\dist\bin\System.Web.Mvc.dll" />
        <File Id="FILE_1CCE8D4EACF14984B67CA4AC27729428" Source="..\dist\bin\System.Web.Providers.dll" />
        <File Id="FILE_6AD7C820C7BF4F7CA0AF6CB9372BB1A3" Source="..\dist\bin\System.Web.Razor.dll" />
        <File Id="FILE_F70656BC4C044D69B23EE206CE7C9041" Source="..\dist\bin\System.Web.WebPages.Deployment.dll" />
        <File Id="FILE_61F0CB8AA5F044A2AC324BD265C51A47" Source="..\dist\bin\System.Web.WebPages.dll" />
        <File Id="FILE_53DA72AD70994C7F91EBF6550F8A1A8B" Source="..\dist\bin\System.Web.WebPages.Razor.dll" />
        <File Id="FILE_F562B4D77C91464E9CE3C19561BAB5AF" Source="..\dist\bin\ThinkingHome.NooLite.dll" />
        <File Id="FILE_F0C33AAF9B1B4D9B8D8A1120811DB1E7" Source="..\dist\bin\ThinkingHome.NooLite.Web.dll" />
      </Component>
      <Component Id="Component03BB3B5F0F4B43DDAECAAFB79DE8FC68" Guid="03bb3b5f-0f4b-43dd-aeca-afb79de8fc68" DiskId="1" Directory="FOLDER_1B9A9748B4ED413D80ACC1D07BC2438F">
        <File Id="FILE_C495116AB5BB4441AC37742C152C58FF" Source="..\dist\Content\css\jquery.mobile-1.3.0.min.css" />
        <File Id="FILE_0A9E638C521B4C59BEFD6BB389682645" Source="..\dist\Content\css\site.css" />
      </Component>
      <Component Id="ComponentB457B5F9D9394E6FB838E3276010153E" Guid="b457b5f9-d939-4e6f-b838-e3276010153e" DiskId="1" Directory="FOLDER_59DEA64A0CCE4624881807ACFBE4EDBC">
        <File Id="FILE_50AB7A51D2DF4F63A39B4A8268487910" Source="..\dist\Content\css\images\ajax-loader.gif" />
        <File Id="FILE_6BBF41CD9393450AADD16C553815ACCD" Source="..\dist\Content\css\images\icons-18-black.png" />
        <File Id="FILE_FBA3371434D64FE2A8F8E971FF8442D3" Source="..\dist\Content\css\images\icons-18-white.png" />
        <File Id="FILE_80617CE427AF4A619A2656FEC8D57E29" Source="..\dist\Content\css\images\icons-36-black.png" />
        <File Id="FILE_71103AB93F034FB6BD4B6C91565A6A53" Source="..\dist\Content\css\images\icons-36-white.png" />
      </Component>
      <Component Id="ComponentFDF8281635664ABDB90891EB922BA0C4" Guid="fdf82816-3566-4abd-b908-91eb922ba0c4" DiskId="1" Directory="FOLDER_F21E1788756E45A98FBB6187FC2FBC75">
        <File Id="FILE_9DA5AB2778E84449B41A9B613FE1337F" Source="..\dist\Content\js\jquery-1.8.2.min.js" />
        <File Id="FILE_DF21E953E5034F30B3B269BEE4F3E7C0" Source="..\dist\Content\js\jquery.mobile-1.3.0.min.js" />
      </Component>
      <Component Id="ComponentBB685DE020E54549BA5165739C3F4AE8" Guid="bb685de0-20e5-4549-ba51-65739c3f4ae8" DiskId="1" Directory="FOLDER_1DD15406917A4BFC96BFD08A79347A88">
        <File Id="FILE_F28A6539FC474D8B8FBC3EB73157D6D1" Source="..\dist\Views\Web.config" />
        <File Id="FILE_7D416C4E4515460FBDB12E25D389FCAE" Source="..\dist\Views\_ViewStart.cshtml" />
      </Component>
      <Component Id="ComponentF1AD14384EA849BFA5E99340D5384768" Guid="f1ad1438-4ea8-49bf-a5e9-9340d5384768" DiskId="1" Directory="FOLDER_60737FCD9FA04AB8ADF6DE2521F47707">
        <File Id="FILE_F090E16A004B48839BA5B2FE4C64BA59" Source="..\dist\Views\Home\Button.cshtml" />
        <File Id="FILE_8F57F5C112934CF4AF471DDCDF30B581" Source="..\dist\Views\Home\Index.cshtml" />
        <File Id="FILE_18C6AF78969E4FDEA5BF548C68493451" Source="..\dist\Views\Home\Slider.cshtml" />
        <File Id="FILE_17B1F5CAADD74BF19D785B830ECFE243" Source="..\dist\Views\Home\Switcher.cshtml" />
      </Component>
      <Component Id="Component6807D7DA79014002B5E663D7A8822229" Guid="6807d7da-7901-4002-b5e6-63d7a8822229" DiskId="1" Directory="FOLDER_93576B1ADB6F491B9F095F20E43EABA6">
        <File Id="FILE_C7CAB2A3FC2A4C1F902BDC3674A13977" Source="..\dist\Views\Shared\Error.cshtml" />
        <File Id="FILE_D0C49F111EC44F8490150F39F36BC1B5" Source="..\dist\Views\Shared\_Layout.cshtml" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>