<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">


	  <Component Id="ComponentD97CDC80BA684B18AE4807E863F244BD" Guid="d97cdc80-ba68-4b18-ae48-07e863f244bd" DiskId="1" Directory="FOLDER_06FE22AD2DBE4A389E545DAFE500A863">

		<File Id="FILE_FD2919BCB6E941FBB8F985D83B0C719A" Source="..\dist\Configurator.exe" />
        <File Id="FILE_03B5D8B5B2854D27BCDD15D006622AD9" Source="..\dist\Global.asax" />
        <File Id="FILE_D6D7B76CADB84A7D9CD0774389AD2F6B" Source="..\dist\NooLite.config" />
        <File Id="FILE_677096F7E057465A9924CDACBDB80EBD" Source="..\dist\Web.config" />
      </Component>
      <Component Id="Component278E8DBD922D42DE9E964DC8F13B7337" Guid="278e8dbd-922d-42de-9e96-4dc8f13b7337" DiskId="1" Directory="FOLDER_62669B3CDC0C48698235DB2C69D696A4">
        <File Id="FILE_688A9F2526AB43A491E433A2EDEE199D" Source="..\dist\bin\HidLibrary.dll" />
        <File Id="FILE_09119B48B6BC4A718D4136F16967A65E" Source="..\dist\bin\Microsoft.Web.Infrastructure.dll" />
        <File Id="FILE_D20586884D554CEABCCB92679DE83923" Source="..\dist\bin\System.Web.Helpers.dll" />
        <File Id="FILE_8B6F5D4469FE4D9D90480403AC304F6E" Source="..\dist\bin\System.Web.Mvc.dll" />
        <File Id="FILE_6373BAE6C55D4B299BE4109EBF96A1E6" Source="..\dist\bin\System.Web.Providers.dll" />
        <File Id="FILE_F907B36F3B8A44369E07A0281B1F6A61" Source="..\dist\bin\System.Web.Razor.dll" />
        <File Id="FILE_A3BD90B8212545FA9BFB0DAC363DFB49" Source="..\dist\bin\System.Web.WebPages.Deployment.dll" />
        <File Id="FILE_563A3F4BCD6643F19A0E75943C812B72" Source="..\dist\bin\System.Web.WebPages.dll" />
        <File Id="FILE_66380992F4E144159CC1F102030503D5" Source="..\dist\bin\System.Web.WebPages.Razor.dll" />
        <File Id="FILE_812FC99E40C44A3C909F582CBA9F661E" Source="..\dist\bin\ThinkingHome.NooLite.dll" />
        <File Id="FILE_0D738556D3114EADA8EAA8B19B15A567" Source="..\dist\bin\ThinkingHome.NooLite.Web.dll" />
      </Component>
      <Component Id="Component102450597EC944ED997D0D2989C6694A" Guid="10245059-7ec9-44ed-997d-0d2989c6694a" DiskId="1" Directory="FOLDER_67FF209B4F544D1E84AC8C20721A67F3">
        <File Id="FILE_8D28D1D3011947718B5F8CCB9AEE7E6E" Source="..\dist\Content\css\jquery.mobile-1.3.0.min.css" />
        <File Id="FILE_56DFF9CD2BE74F5EBC4223BA9DFA1BD3" Source="..\dist\Content\css\site.css" />
      </Component>
      <Component Id="Component6AF601922A6942AAB22E0C746857F4BF" Guid="6af60192-2a69-42aa-b22e-0c746857f4bf" DiskId="1" Directory="FOLDER_99C5E01E5F134D3CBA4520F4F55694BB">
        <File Id="FILE_CC51C655A80A406A8CC37C9B44E02CC9" Source="..\dist\Content\css\images\ajax-loader.gif" />
        <File Id="FILE_5F09B224ACD04760877A1E68E01BB96B" Source="..\dist\Content\css\images\icons-18-black.png" />
        <File Id="FILE_02638561F519473E86F220A272E3EDF3" Source="..\dist\Content\css\images\icons-18-white.png" />
        <File Id="FILE_01B55961332C4E0EB2B2CC2F16996584" Source="..\dist\Content\css\images\icons-36-black.png" />
        <File Id="FILE_B28AA1810F72410A9E4B08C023CDA125" Source="..\dist\Content\css\images\icons-36-white.png" />
      </Component>
      <Component Id="ComponentA50ED189D99049AEBB4DD4ABC33E13A6" Guid="a50ed189-d990-49ae-bb4d-d4abc33e13a6" DiskId="1" Directory="FOLDER_7DE3B0A9E2424CCAB76227FC3451E893">
        <File Id="FILE_5AF20F98D2294196BD62EA32577B5AAE" Source="..\dist\Content\js\jquery-1.8.2.min.js" />
        <File Id="FILE_A18D8EADA6254F6D8AA55A87DB31462B" Source="..\dist\Content\js\jquery.mobile-1.3.0.min.js" />
      </Component>
      <Component Id="Component215A5241EFD94733ACF3C5160A187F84" Guid="215a5241-efd9-4733-acf3-c5160a187f84" DiskId="1" Directory="FOLDER_205D721267BF4998A5D33A8A3E3F4593">
        <File Id="FILE_EC8C73561D3F4A0294802D6B9F13BD57" Source="..\dist\Views\Web.config" />
        <File Id="FILE_CECE7701A4BB4AB68F9C5BB6E5F99B3B" Source="..\dist\Views\_ViewStart.cshtml" />
      </Component>
      <Component Id="ComponentC4715C9E258945D6974579FEFF77095C" Guid="c4715c9e-2589-45d6-9745-79feff77095c" DiskId="1" Directory="FOLDER_92C514300DA74B8B81A122AB7E141180">
        <File Id="FILE_211521AA73424382AA7B9AFA4F5020F0" Source="..\dist\Views\Home\Button.cshtml" />
        <File Id="FILE_43AC60BC30564368896D51D975B125D9" Source="..\dist\Views\Home\Index.cshtml" />
        <File Id="FILE_24B812BA15D84EFE934A8B45EFA12352" Source="..\dist\Views\Home\Slider.cshtml" />
        <File Id="FILE_AA39E23AFE9C41D191B49729AB3EFC85" Source="..\dist\Views\Home\Switcher.cshtml" />
      </Component>
      <Component Id="Component0BF0CBC9575345349A9ACBB83FF0A9D4" Guid="0bf0cbc9-5753-4534-9a9a-cbb83ff0a9d4" DiskId="1" Directory="FOLDER_9D4C3ED303D647D28E4D1B97D8DA6921">
        <File Id="FILE_525B095033C04EE1BF71302FBD5D6D8D" Source="..\dist\Views\Shared\Error.cshtml" />
        <File Id="FILE_E0B88DF09B7A41D597D0947705027812" Source="..\dist\Views\Shared\_Layout.cshtml" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>