<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="WEBAPPFOLDER" Name="webapp">
        <Directory Id="FOLDER_BE01A84456A8436AB2FA8106C1E29857" Name="bin" />
        <Directory Id="FOLDER_1F280F2D8FAF4659B691504B3E5A5897" Name="Content">
          <Directory Id="FOLDER_3DC05518B0854A0C862A4B84704D42FB" Name="css">
            <Directory Id="FOLDER_1020837518EB41618063EC50A7BCEEE7" Name="images" />
          </Directory>
          <Directory Id="FOLDER_9FB703B21C6A4C5186475D002DA8562E" Name="js" />
        </Directory>
        <Directory Id="FOLDER_FFD4C57254394282A27B4DF1ECC29792" Name="Views">
          <Directory Id="FOLDER_D604A71F5B28403D9857BFF37A5C629C" Name="Home" />
          <Directory Id="FOLDER_1DC4A3E2E2A046C3AA47F461DCC9BAA5" Name="Shared" />
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>