<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="WEBAPPFOLDER" Name="webapp">
        <Directory Id="FOLDER_984B98D75A5944898FE14B8E2D4C2229" Name="bin" />
        <Directory Id="FOLDER_6F7130074586426E9B837101D787BBB6" Name="Content">
          <Directory Id="FOLDER_1A8F0D3FD3DC453B83D5345421DD16DB" Name="css">
            <Directory Id="FOLDER_C584D347EDCB470EA6F44CD158808CA9" Name="images" />
          </Directory>
          <Directory Id="FOLDER_C70145F9061A44909AB26B0B7FFB6090" Name="js" />
        </Directory>
        <Directory Id="FOLDER_E649283C79204203983FACFB34B76D80" Name="Views">
          <Directory Id="FOLDER_9CB0B1DCBAEF4352906519FA7C313391" Name="Home" />
          <Directory Id="FOLDER_19ABEB827BBB4854AC56D2B31A901271" Name="Shared" />
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>