<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="WEBAPPFOLDER" Name="webapp">
        <Directory Id="FOLDER_87385E1CE2EC4686A0E9C3C55BF8EC71" Name="bin" />
        <Directory Id="FOLDER_F0226191BAB4474FBB0D486360E021EE" Name="Content">
          <Directory Id="FOLDER_0E771252BAC24AAF9682386B4653AF24" Name="css">
            <Directory Id="FOLDER_DF61E0FEAB7E45F68E51448C26FD2A2E" Name="images" />
          </Directory>
          <Directory Id="FOLDER_C1338A54DE08450BBC18FAEE690CEF13" Name="js" />
        </Directory>
        <Directory Id="FOLDER_FD21D8E850D04DC7891CB1E0C32E43C9" Name="Views">
          <Directory Id="FOLDER_1A246BE9DDE24E25A35FC4B4BD348DF2" Name="Home" />
          <Directory Id="FOLDER_18320276177F4669BE57F631850C2D05" Name="Shared" />
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>