<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Variables.wxi?>


	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />

		<Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />
	</Product>



	<Fragment>

		<!--<Property Id="WEBAPPREGTOOL" >
			<DirectorySearch Id="WRTFOLDER" Path="[ProgramFilesFolder]UltiDev\Web Server\Redist" >
				<FileSearch Name="Starter.exe" />
			</DirectorySearch>
		</Property>-->

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
				<Directory Id="ULTIDEV_ROOT" Name="UltiDev" >
					<Directory Id="ULTIDEV_WEBSERVER" Name="Web Server">
						<Directory Id="ULTIDEV_REDIST" Name="Redist" />
				</Directory>
				</Directory>
			</Directory>
		</Directory>

		<CustomAction Id="Install" Directory="ULTIDEV_REDIST"
              Execute="deferred" Impersonate="no" Return="ignore"
              ExeCommand="&quot;[ULTIDEV_REDIST]Starter.exe&quot; &quot;[ULTIDEV_WEBSERVER]UWS.RegApp.exe&quot; /r AppID:{$(var.UpgradeCode)} /url=http://*:7777,http://*:0/ &quot;/path:[INSTALLFOLDER]webapp&quot; /vdir:/ /Clr:4 /autostart" />

		<InstallExecuteSequence>
			<Custom Action='Install' After='InstallFiles' />
		</InstallExecuteSequence>

	</Fragment>


</Wix>