<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

	<?include Variables.wxi?>

	<Bundle Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)"  UpgradeCode="$(var.UpgradeCode)">
		<!--<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication LicenseFile="License.rtf" />
		</BootstrapperApplicationRef>-->
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" />
		<WixVariable Id="WixStdbaLicenseUrl" Value="" />
		<Chain>
			<PackageGroupRef Id="NetFx40Web"/>
			<MsiPackage Id="SERVER" DisplayInternalUI="no" SourceFile="..\Requires\UltiDev.WebServer.msi" />
			<MsiPackage Id="WEBAPP" After="SERVER" DisplayInternalUI="yes" SourceFile="..\msi\nwcp-setup.msi"  />
		</Chain>
	</Bundle>
</Wix>