@model ThinkingHome.NooLite.Web.Models.ControlModel
<label>@Model.DisplayText</label>
<div class="ui-grid-a responsive-slider">
	<div class="ui-block-a">
		<input type="button" class="control-button" value="On" data-control-id="@Model.Id" data-level="@Model.Level" data-strong="0" />
	</div>
	<div class="ui-block-b">
		<input type="button" class="control-button" value="Off" data-control-id="@Model.Id" data-level="0" data-strong="1" />
	</div>
</div>