<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="files" type="FileListBuilder.Configuration.ListConfigurationSection, FileListBuilder" requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<files>
		<folder componentId="ComponentNoolite" path="..\dist" name="webapp" />
	</files>
</configuration>