<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="ComponentBCB6C705DFED4CBCBD7D945E0CED27F1" Guid="bcb6c705-dfed-4cbc-bd7d-945e0ced27f1" DiskId="1" Directory="FOLDER_A020A983B0BD4D4698A4A492CE69B519">
        <File Id="FILE_80A0A78ADDDE4189998A6BB02CA00FC5" Source="..\dist\Global.asax" />
        <File Id="FILE_F72195F27C5D4FA292DA5EFAC6A97FCF" Source="..\dist\NooLite.config" />
        <File Id="FILE_53DEFFEA3EC640D7BBAC979806425D7E" Source="..\dist\Web.config" />
      </Component>
      <Component Id="Component1A919EBA0F88454AAE1517CAC38E044B" Guid="1a919eba-0f88-454a-ae15-17cac38e044b" DiskId="1" Directory="FOLDER_CDC0B6066AD14D2BB86FEB589C4E4E93">
        <File Id="FILE_0C7E952AADAF4041BF93FF06DEEC5C63" Source="..\dist\bin\HidLibrary.dll" />
        <File Id="FILE_6801B7883CAB4C19BFD22C440E3A9D63" Source="..\dist\bin\Microsoft.Web.Infrastructure.dll" />
        <File Id="FILE_79D81F8A0B6944E480C6BA0D5869CEBD" Source="..\dist\bin\System.Web.Helpers.dll" />
        <File Id="FILE_BE5DCCFB007E4871BDE0E8BBAA9BEA82" Source="..\dist\bin\System.Web.Mvc.dll" />
        <File Id="FILE_E8B9D05903A740BB91D15F88B215A90A" Source="..\dist\bin\System.Web.Providers.dll" />
        <File Id="FILE_CF5D7D7BB1D6439E971F76CC6777C855" Source="..\dist\bin\System.Web.Razor.dll" />
        <File Id="FILE_342B88993A444164BFFC9C99A5D35FD4" Source="..\dist\bin\System.Web.WebPages.Deployment.dll" />
        <File Id="FILE_D8BFF8A058F943B99423FA456910C132" Source="..\dist\bin\System.Web.WebPages.dll" />
        <File Id="FILE_0E46DE380A204945950587ACD097FEA8" Source="..\dist\bin\System.Web.WebPages.Razor.dll" />
        <File Id="FILE_6273BC6E91F84D76B10D57379A881354" Source="..\dist\bin\ThinkingHome.NooLite.dll" />
        <File Id="FILE_17C685B376FB4B7185637E42F853153B" Source="..\dist\bin\ThinkingHome.NooLite.Web.dll" />
      </Component>
      <Component Id="Component9194A8C37A884ECDB57417768AAFDE73" Guid="9194a8c3-7a88-4ecd-b574-17768aafde73" DiskId="1" Directory="FOLDER_53F86AA31591481DA4DA06C1D5165A13">
        <File Id="FILE_E6E7FED3EB5C4234A03BE18616EDC2AF" Source="..\dist\Content\css\jquery.mobile-1.3.0.min.css" />
        <File Id="FILE_AF506AFA384B4FA7B466647BDAAEDEBB" Source="..\dist\Content\css\site.css" />
      </Component>
      <Component Id="Component0434A701459A4244B3072363C7C94AFB" Guid="0434a701-459a-4244-b307-2363c7c94afb" DiskId="1" Directory="FOLDER_EAA721B64646409893D0073B251FC802">
        <File Id="FILE_A57701903A0647DDBEE870F0E657B746" Source="..\dist\Content\css\images\ajax-loader.gif" />
        <File Id="FILE_DF7DE9081FC54F66BDC413B125239961" Source="..\dist\Content\css\images\icons-18-black.png" />
        <File Id="FILE_DD6D9CF74DF84CA4A41733568274C94F" Source="..\dist\Content\css\images\icons-18-white.png" />
        <File Id="FILE_E19D45ED78404C8F9A2E259823B0550F" Source="..\dist\Content\css\images\icons-36-black.png" />
        <File Id="FILE_41BD261FE73045CCAE251D46C130CF3C" Source="..\dist\Content\css\images\icons-36-white.png" />
      </Component>
      <Component Id="ComponentCF997B161EFF451EA3621AFE3BD52985" Guid="cf997b16-1eff-451e-a362-1afe3bd52985" DiskId="1" Directory="FOLDER_45D85956069D40268D5CD10715B045A0">
        <File Id="FILE_DC3E2D539A0044AD83FB5E1C10CD8A97" Source="..\dist\Content\js\jquery-1.8.2.min.js" />
        <File Id="FILE_25660A6A11A8412D885965044DD4228C" Source="..\dist\Content\js\jquery.mobile-1.3.0.min.js" />
      </Component>
      <Component Id="Component0D799FBE5EBD413896D54F30B3B7F213" Guid="0d799fbe-5ebd-4138-96d5-4f30b3b7f213" DiskId="1" Directory="FOLDER_DE72BBF6933544C5A4C010DC9C6C5DCE">
        <File Id="FILE_062C62DC07024B3384F250DE0FF0720B" Source="..\dist\Views\Web.config" />
        <File Id="FILE_31F8E6C62F6647BF9FF84EC8A4102823" Source="..\dist\Views\_ViewStart.cshtml" />
      </Component>
      <Component Id="ComponentE0C810A086EE42479132E2FCEA537033" Guid="e0c810a0-86ee-4247-9132-e2fcea537033" DiskId="1" Directory="FOLDER_002CCC4F928544A78406CE7376C69039">
        <File Id="FILE_41144BDBF0F74C469856981EF052F5BC" Source="..\dist\Views\Home\Button.cshtml" />
        <File Id="FILE_AF914BA007464FE4A3734FB56179453A" Source="..\dist\Views\Home\Index.cshtml" />
        <File Id="FILE_0E73B74C2E0E417B909EBFBAC106E799" Source="..\dist\Views\Home\Slider.cshtml" />
        <File Id="FILE_C0025F31C8584EC095BF40C804C7417C" Source="..\dist\Views\Home\Switcher.cshtml" />
      </Component>
      <Component Id="Component8A79F104ADCB4BED8A9C16045DAB2036" Guid="8a79f104-adcb-4bed-8a9c-16045dab2036" DiskId="1" Directory="FOLDER_77DEB0C067834460A3E2D7794ED5FEF8">
        <File Id="FILE_23738D300DB8457EA1E13DFB531203CC" Source="..\dist\Views\Shared\Error.cshtml" />
        <File Id="FILE_9D03B7840FF54F67B9D8D5CE6B5048E2" Source="..\dist\Views\Shared\_Layout.cshtml" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>