<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="Component8914C75BE403433C9B37A12446665DA7" Guid="8914c75b-e403-433c-9b37-a12446665da7" DiskId="1" Directory="WEBAPPFOLDER">
        <File Id="FILE_C7C9FAEC0E32451CBFEEAEB0E631EE50" Source="..\dist\Configurator.exe" />
        <File Id="FILE_F51E6A9F370941A281904EC25EC17A8E" Source="..\dist\Global.asax" />
        <File Id="FILE_5BA455211224416094F334CE9A53ECD6" Source="..\dist\NooLite.config" />
        <File Id="FILE_62BD5948854A4144BD0C68796EAA95D7" Source="..\dist\Web.config" />
        <File Id="FILE_9B327158460B4CAE8753DE313DB8DDC3" Source="..\dist\webapp.ico" />
      </Component>
      <Component Id="Component74688CF4EF29447FAE7761D1FCAD7DAB" Guid="74688cf4-ef29-447f-ae77-61d1fcad7dab" DiskId="1" Directory="FOLDER_F505B0D8979A4681BDC57C197EF99482">
        <File Id="FILE_DE5E91B2DEDD4EA693AC0AEC2A0FAA4E" Source="..\dist\bin\HidLibrary.dll" />
        <File Id="FILE_DE890FD0BD6D46CE85BFB01135AEAE6D" Source="..\dist\bin\Microsoft.Web.Infrastructure.dll" />
        <File Id="FILE_9E8E3391237942B8B4FBA5DEE0959C4C" Source="..\dist\bin\System.Web.Helpers.dll" />
        <File Id="FILE_62D36ECA8BB1454F8AACB8261F07B36A" Source="..\dist\bin\System.Web.Mvc.dll" />
        <File Id="FILE_45F51FA230614D8BAB3FF8B38DFB6B1D" Source="..\dist\bin\System.Web.Providers.dll" />
        <File Id="FILE_B3CF74405B1145A1BDD9608BB68FD404" Source="..\dist\bin\System.Web.Razor.dll" />
        <File Id="FILE_7563D8F8A8ED4DFD80E6DE4519E1C5C2" Source="..\dist\bin\System.Web.WebPages.Deployment.dll" />
        <File Id="FILE_0267D35983594A789C0FA2575E94192B" Source="..\dist\bin\System.Web.WebPages.dll" />
        <File Id="FILE_4E31A2E0814A4C51BFA1C87AC0FE2F87" Source="..\dist\bin\System.Web.WebPages.Razor.dll" />
        <File Id="FILE_E6542BCF26314F658781215C7F297156" Source="..\dist\bin\ThinkingHome.NooLite.dll" />
        <File Id="FILE_CCB6474C6EDE4E9ABD441DBAA496B5D9" Source="..\dist\bin\ThinkingHome.NooLite.Web.dll" />
      </Component>
      <Component Id="ComponentEE43D24380854343A7E36DDA2BDF5F1D" Guid="ee43d243-8085-4343-a7e3-6dda2bdf5f1d" DiskId="1" Directory="FOLDER_65ED4DF423F24257BB5C2EDDE635AC67">
        <File Id="FILE_8C79063537F0403693EF24EA3400C9E6" Source="..\dist\Content\css\jquery.mobile-1.3.0.min.css" />
        <File Id="FILE_312D6E597D854E1CB695809CBD8DD18F" Source="..\dist\Content\css\site.css" />
      </Component>
      <Component Id="Component76F442CFB77D48D79A08D4191C6C7EFB" Guid="76f442cf-b77d-48d7-9a08-d4191c6c7efb" DiskId="1" Directory="FOLDER_1D6FE1B29AF5425A8C18D6764B31A199">
        <File Id="FILE_C390145F14194D5A8DF1D45ACC6D2EA7" Source="..\dist\Content\css\images\ajax-loader.gif" />
        <File Id="FILE_8B026B45F1864B9B92442261CD27B6AB" Source="..\dist\Content\css\images\icons-18-black.png" />
        <File Id="FILE_57DE486150D041099B4A49C7327D043D" Source="..\dist\Content\css\images\icons-18-white.png" />
        <File Id="FILE_8B29FFD7495E450E9BE4C4273B49D1C9" Source="..\dist\Content\css\images\icons-36-black.png" />
        <File Id="FILE_34B64294E325483B8C8607B8608A8922" Source="..\dist\Content\css\images\icons-36-white.png" />
      </Component>
      <Component Id="ComponentF40963335F5744E3A6D22AE7A31B09C5" Guid="f4096333-5f57-44e3-a6d2-2ae7a31b09c5" DiskId="1" Directory="FOLDER_63D1558ABFDC4BCF9185BCD9AE6E723A">
        <File Id="FILE_DD935EAEB6594331A4D97C114D0CCE2B" Source="..\dist\Content\js\jquery-1.8.2.min.js" />
        <File Id="FILE_34F9E497542348E9B7D29D31C9D4BAB2" Source="..\dist\Content\js\jquery.mobile-1.3.0.min.js" />
      </Component>
      <Component Id="ComponentDFD833B6BCCD49628AF3420FE0C36F66" Guid="dfd833b6-bccd-4962-8af3-420fe0c36f66" DiskId="1" Directory="FOLDER_D007C45712A84DE9BF6EE0CB755EBCFE">
        <File Id="FILE_A355402586014951A55608519DCFAB4B" Source="..\dist\Views\Web.config" />
        <File Id="FILE_A7E814B44EE34A37841EC170A0EA7D2F" Source="..\dist\Views\_ViewStart.cshtml" />
      </Component>
      <Component Id="ComponentC21739B725694AB6869E62CAB027A5AF" Guid="c21739b7-2569-4ab6-869e-62cab027a5af" DiskId="1" Directory="FOLDER_A7978A9293CF49AC806E965D6D270136">
        <File Id="FILE_45A43E89057F43BC9DA6CBF29ABD58EB" Source="..\dist\Views\Home\Button.cshtml" />
        <File Id="FILE_5FEC5C91828348C7B846C0423EAF30FE" Source="..\dist\Views\Home\Index.cshtml" />
        <File Id="FILE_132B44C317144CF1B71B1A9890D4140E" Source="..\dist\Views\Home\Slider.cshtml" />
        <File Id="FILE_C85556B3E5C64D648DBADB750503FC10" Source="..\dist\Views\Home\Switcher.cshtml" />
      </Component>
      <Component Id="Component6D9248EB14FC4A36BAB168E4B3A83386" Guid="6d9248eb-14fc-4a36-bab1-68e4b3a83386" DiskId="1" Directory="FOLDER_51A8C4DABA534AF689C88AD15126BB1A">
        <File Id="FILE_2A50809179C94C1AB44A48E63B6883EA" Source="..\dist\Views\Shared\Error.cshtml" />
        <File Id="FILE_900885F73FF64CB2965F4A1D99A7A253" Source="..\dist\Views\Shared\_Layout.cshtml" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>