<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="WEBAPPFOLDER" Name="webapp">
        <Directory Id="FOLDER_5F46C1D23D20420BA8919362E8E491C1" Name="bin" />
        <Directory Id="FOLDER_351475A9118E4886A6012186DD6BCD81" Name="Content">
          <Directory Id="FOLDER_E0C58ABA26BF478B9210C776624E790E" Name="css">
            <Directory Id="FOLDER_60827AC8E865479EBADE7B72DD36AAA4" Name="images" />
          </Directory>
          <Directory Id="FOLDER_4C269C7B50C14BBFB72BB3C368671D46" Name="js" />
        </Directory>
        <Directory Id="FOLDER_28ADE81D5BB1478D887DAFD09331E941" Name="Views">
          <Directory Id="FOLDER_D60FE277C05F43C2B4A22495FDCAE1FC" Name="Home" />
          <Directory Id="FOLDER_3F80F3CAEBCB4598960EB0C25919C0E6" Name="Shared" />
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>