<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="WEBAPPFOLDER" Name="webapp">
        <Directory Id="FOLDER_F505B0D8979A4681BDC57C197EF99482" Name="bin" />
        <Directory Id="FOLDER_9F7C13A843E34A129885D892A8C43EDF" Name="Content">
          <Directory Id="FOLDER_65ED4DF423F24257BB5C2EDDE635AC67" Name="css">
            <Directory Id="FOLDER_1D6FE1B29AF5425A8C18D6764B31A199" Name="images" />
          </Directory>
          <Directory Id="FOLDER_63D1558ABFDC4BCF9185BCD9AE6E723A" Name="js" />
        </Directory>
        <Directory Id="FOLDER_D007C45712A84DE9BF6EE0CB755EBCFE" Name="Views">
          <Directory Id="FOLDER_A7978A9293CF49AC806E965D6D270136" Name="Home" />
          <Directory Id="FOLDER_51A8C4DABA534AF689C88AD15126BB1A" Name="Shared" />
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>